@model  bd_mvc_adonet.Models.Articulo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modificacion</title>
</head>
<body>
    <div>
        <form method="post" action="/Home/Modificacion">
            Codigo:
            <input type="text" name="codigo" value="@Model.Codigo" readonly />
            <br />
            Descripcion:
            <input type="text" name="describcion" value="@Model.Describcion" />
            <br />
            Precio:
            <input type="text" name="precio" value="@Model.Precio" />
            <br />
            <input type="submit" value="Confirmar" />
        </form>
    </div>
</body>
</html>
